

body{
    padding: 30px;
    background-color: antiquewhite;
    background-color: antiquewhite;
    box-sizing: border-box;
    min-height: 100vh;
}
nav >.btn {
text-align-last: justify;
justify-content: space-between;
display: inline-block;
background-color: orangered;
justify-content: space-between;
letter-spacing: 6px;
max-width: 100%;
margin-bottom: 20px;
}
.profile-pic{
    width: 150px;
}
.p{
    width: calc(100%-185);
    display: inline-block;
}
